@import 'gnome-shell-sass/_colors';

$pfx: 'light-dict';
$radius: 0.4em;

@function tone($color, $percent: 10%, $reverse: true){
    @return if($variant==if($reverse, 'light', 'dark'), darken($color, $percent), lighten($color, $percent))
}

.#{$pfx}-box-boxpointer {
    // -arrow-rize: 1em;
    box-shadow: 0 0.1em 0.15em 0 $shadow_color; // ?: not working with St.ScrollView
}

.#{$pfx}-systray:state-busy {
    color: tone($selected_bg_color, 10%);
}

.#{$pfx}-view {
    color: $fg_color;
    font-size: 1.25em;
    border-radius: $radius;
    max-width: 40em !important; /* for text line wrap */
    max-height: 30em !important; /* min height for scroll */
    background-color: tone($bg_color, 10%);
    &:state-error { border: 0.1em solid $error_color; }
}

.#{$pfx}-content {
    padding: $radius;
    border-radius: $radius;
}

.#{$pfx}-text {
    border-width: 0;
    border-style: dashed;
    border-bottom-width: 0.1em;
    border-color: transparentize($bg_color, 0.5);
}

.#{$pfx}-iconbox {
    padding: 0;
    & StIcon {
        icon-size: 2em;
        padding: 0 0.1em;
    }
}

.#{$pfx}-button {
    font-weight: bold;
    padding: 0.5em 0.3em;
    &:hover {
        border-width: 0;
        border-style: double;
        border-bottom-width: 0.2em;
        border-color: $selected_bg_color;
        padding: 0.3em 0.3em 0.5em 0.3em;
    }
}

// .#{$pfx}-tooltip {
// }
