// SPDX-FileCopyrightText: tuberry
// SPDX-License-Identifier: GPL-3.0-or-later

$contrast: 'normal';

@import 'gnome-shell-sass/_colors';

$pfx: 'light-dict';
$radius: 0.4em;

@function tone($color, $percent: 10%, $reverse: true){
    @return if($variant==if($reverse, 'light', 'dark'), darken($color, $percent), lighten($color, $percent))
}

@function st-tone($color, $percent: 10%, $reverse: true){
    @return if($variant==if($reverse, 'light', 'dark'), st-darken($color, $percent), st-lighten($color, $percent))
}

.#{$pfx}-box-boxpointer {
    // -arrow-rize: 1em;
    box-shadow: 0.05em 0.15em 0.25em 0 $shadow_color;
}

.#{$pfx}-systray:state-busy {
    color: st-tone(-st-accent-color, 10%);
}

.#{$pfx}-spinner {
    padding: 0.2em;
    border-radius: 0.8em; // percent value not supported
    background-color: tone($bg_color, 6%);
    box-shadow: 0 0 0.2em 0.2em $shadow_color;
}

.#{$pfx}-view-bin {
    border-radius: $radius;
    background-color: tone($bg_color, 7%, false); /* for scroll fade */
}

.#{$pfx}-view {
    color: $fg_color;
    font-size: 1.25em;
    border-radius: $radius;
    -st-vfade-offset: 0.65em;
    max-width: 40em !important; /* for text line wrap */
    max-height: 30em !important; /* min height for scroll */
    background-color: tone($bg_color, 10%);
    border: 0.05em solid tone($outer_borders_color, 13%);
    &:state-error { border: 0.1em solid $error_color; }
    &:state-empty { border: 0.1em solid $warning_color; font-family: monospace; }
}

.#{$pfx}-content {
    padding: $radius;
    border-radius: $radius;
}

.#{$pfx}-text {
    border-width: 0;
    border-style: dashed;
    border-bottom-width: 0.1em;
    border-color: transparentize($bg_color, 0.45);
}

.#{$pfx}-iconbox {
    padding: 0;
    border-radius: 0.6em;
    & StIcon {
        icon-size: 2em;
        padding: 0 0.1em;
    }
}

.#{$pfx}-button {
    font-weight: bold;
    padding: 0.5em 0.3em;
    transition-duration: 20ms;
    &:hover {
        border-width: 0;
        border-style: double;
        border-bottom-width: 0.2em;
        border-color: -st-accent-color;
        padding: 0.3em 0.3em 0.5em 0.3em;
    }
}

.#{$pfx}-tooltip {
}
